/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.mainContainer{
  max-width: 960px;
  margin: 40px auto;
  padding: 0px 20px;
}
//
//
.titleBlock{

}
//
//
.imgCarousel{
  .topImg{
    float: left;
    height:400px;
    width:400px;
    background-color: red;
  }
  .topCar{
    float: right;
  }
}
//
//
.descImg{
  .rowdesc{
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    padding: 0px 20px 0px 20px;
  }
  .rowimg{
    background-color: transparent;
    min-width: 400px;
    height: 400px;
    vertical-align: middle;
    text-align: center;
  }
}
//
//
.imgDesc{
  .rowimg{
    background-color: transparent;
    min-width: 400px;
    height: 400px;
    vertical-align: middle;
    text-align: center;
  }
  .rowdesc{
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    padding: 0px 20px 0px 20px;
  }
}
//
//
@media only screen and (max-width: 640px) {
  .descImg, .imgDesc{
    display: block;
    .rowdesc{
      display: block;
    }
    .rowimg{
      display: block;
      width: auto;
      width: 200px;
      height: 200px;
      height: auto;
      overflow: hidden;
    }
  }
}