!!! 5
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/screen.css')
    script(src='js/vendor/modernizr-2.6.2.min.js')
  body
    #main_container.mainContainer
      #row1.imgCarousel
        #top_img.topImg <img src="http://placehold.it/400x400" height="400" width="400">
        #top_car.topCar top carousel
      .clearfix
      hr
      table#row1.descImg
        tr
          td.rowdesc
            p Flippy is a toy robot  physically built on the Arduino platform and programmed with the modern webstack for its control surface.
          td.rowimg <img src="http://placehold.it/400x400" height="400" width="400">
      hr
      table#row2.imgDesc
        tr
          td.rowimg <img src="http://placehold.it/400x400" height="400" width="400">
          td.rowdesc
            p Flippy was built as a project to introduce my son to electronics and robotics.
      hr
      table#row3.descImg
        tr
          td.rowdesc
            p Flippy's is physically based on the Arduino open source hardware platform.
          td.rowimg <img src="http://placehold.it/400x400" height="400" width="400">
      hr
      table#row4.imgDesc
        tr
          td.rowimg <img src="http://placehold.it/400x400" height="400" width="400">
          td.rowdesc
            p What's really cool is that Flippy's control surface is programmed using HTML, CSS & JavaScript.
      hr
      table#row5.descImg
        tr
          td.rowdesc
            p If you have a computer, a modern web browser and an active network connection, you can control Flippy
            td.rowimg <img src="http://placehold.it/400x400" height="400" width="400">
      hr
      table#row6.imgDesc
        tr
          td.rowimg <img src="http://placehold.it/400x400" height="400" width="400">
          td.rowdesc
            p Here's some pictures of Flippy and the stuff used to make... him
      hr
      table#row7.descImg
        tr
          td.rowdesc
            p Here's a video of my son's reaction to Flippy on his birthday
          td.rowimg <img src="http://placehold.it/400x400" height="400" width="400">
       hr
      table#row8.imgDesc
        tr
          td.rowimg <img src="http://placehold.it/400x400" height="400" width="400">
          td.rowdesc
            p If you wan't to build something like Flippy, check out some of theses resources to get you started.
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script
      window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\\/script>')
    script(src='js/plugins.js')
    script(src='js/main.js')
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));